# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
tmp/
temp/
docs/
