PORT=3002

DB_HOST=localhost
DB_PORT=3306
DB_NAME=nutriconplus_inventory_db
DB_USER=app_inventory_db
DB_PASSWORD=

NODE_ENV=development
JWT_SECRET=la_misma_clave_del_users_service
JWT_REFRESH_SECRET=la_misma_clave_del_users_service