PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nutriconplus_users_db
DB_USER=app_users_db
DB_PASSWORD=tu_password

JWT_SECRET=tu_clave_secreta
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=tu_clave_secreta_refresh
JWT_REFRESH_EXPIRES_IN=7d